<footer class="mainfooter">
<header><h1>Most Popular Posts</h1></header>
<section class="footer4imageslink">
  <a href="#">
<%= image_tag 'images/lowerfooterlinks325x332.gif', :class => 'footerimg1' %>
</a>
<a href="#">
<%= image_tag 'images/lowerfooterlinks325x332.gif', :class => 'footerimg2' %>
</a>
<a href="#">
<%= image_tag 'images/lowerfooterlinks325x332.gif', :class => 'footerimg3' %>
</a>
<a href="#">
<%= image_tag 'images/lowerfooterlinks325x332.gif', :class => 'footerimg4' %>
</a>

</section>
<footer class="footeroffooter">
  <section class="brandcopyright">
    <%= image_tag 'images/theironyard.png', :class => 'ironyardlogo' %>

    <small class="copyright">The Ironyard Copyright 2013. All Rights Reserved</small>
  </section>
  <nav class="footernav">
    <ul>
      <li><a href="#">Nav Item 1</a>&nbsp;|</li>
      <li><a href="#">Nav Item 2</a>&nbsp;|</li>
      <li><a href="#">Nav Item 3</a>&nbsp;|</li>
      <li><a href="#">Nav Item 5</a></li>
    </ul>
  </nav>
</footer>
</footer>
